
<section class="presentacion">
    <span>
    <h2>Prácticas Ecológicas</h2>
    <p>En Quinazaur promovemos una agricultura responsable y sostenible.<br> Cada una de nuestras acciones busca reducir el impacto ambiental, fomentar el aprovechamiento consciente de los recursos naturales y fortalecer el vínculo entre la comunidad y el entorno.<br> A través de programas ecológicos, reciclaje y prácticas de producción limpia, reafirmamos nuestro compromiso con un futuro más verde y saludable para todos..</p>
    </span>
    <div class="container-cards">
        <div class="card-practicas">
            <img src="{{url_for('static',filename='/images/planta.webp')}}" loading="lazy" alt="icon">
            <h3>Agricultura Orgánica</h3>
            <p>Cultivos libres de pesticidas y fertilizantes químicos</p>
        </div>
        <div class="card-practicas">
            <img src="{{url_for('static',filename='/images/gota.webp')}}" loading="lazy" alt="icon">
            <h3>Uso Eficiente del Agua</h3>
            <p>Sistemas de riego sostenibles que conservan recursos hídricos</p>
        </div>
        <div class="card-practicas">
            <img src="{{url_for('static',filename='/images/reciclar.webp')}}" loading="lazy" alt="icon">
            <h3>Empaques Biodegradables</h3>
            <p>Materiales 100% reciclables y compostables</p>
        </div>

    </div>
    <img title="Gestión Ambiental" class="img-gestion" src="{{url_for('static',filename='/images/gestion.webp')}}" loading="lazy" alt="img">
</section>
        