<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Compromiso verde de Quinazaur">
    <meta name="robots" content="index, follow">

    <meta property="og:title" content="Quinazaur">
    <meta property="og:description" content="Nuestro compromiso verde">
    <meta property="og:image" content="{{ url_for('static', filename='images/logo_quinazaur.png') }}">
    <meta property="og:type" content="website">

    <title>Quinazaur</title>
    
    <link rel="stylesheet" href="{{url_for('static', filename='css/basics.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/compromiso_verde.css')}}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;300;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400&display=swap" rel="stylesheet">
    
    {% include "info/favicon.html"%}
    
</head>
<body>
    <header class="navbar">
        <div class="nav-izq">
            <a href="{{url_for('inicio')}}">
            <img  class="logo" src="{{url_for('static', filename='/images/logo_quinazaur.webp')}}" loading="lazy" alt="Logo" title="Inicio">
            </a>
            <h1 class="titulo">Compromiso Verde</h1>
        </div>
        <nav class="links">
            <button class="cerrar-menu"><img src="{{url_for('static',filename='images/cerrar_menu.webp')}}" loading="lazy" alt="icon"></button>
            
            {% if session["user_rol"]=="admin" %}
                <a class="editar-modulo" title="Disponible Pronto">Editar Módulo</a>
            {% endif %}
            
            <a class="section" href="{{url_for('productos')}}">Productos</a>
            <a class="section" href="{{url_for('recetas')}}">Recetario Saludable</a>
            <a class="btn_inicio" href="{{url_for('inicio')}}">Inicio</a>
        </nav>
        <button class="abrir-menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </header>
    <main>
        <nav class="navbar-2">
            <a class="{%if section=='presentacion'%} activo {%else%} section-2 {%endif%}" href="/compromiso-verde?section=presentacion">Presentación</a>
            <a class="{%if section=='noticias'%} activo {%else%} section-2 {%endif%}" href="/compromiso-verde?section=noticias">Noticias</a>
            <a class="{%if section=='galeria'%} activo {%else%} section-2 {%endif%}" href="/compromiso-verde?section=galeria">Galería</a>
        </nav>
        
        <div class="content">
            {% if section=='presentacion'%}
                {% include "compromiso_verde/presentacion.html"%}
            {% elif section=='noticias'%}
                {% include "compromiso_verde/noticias.html"%}
            {% else %}
                {% include "compromiso_verde/galeria.html" %}
            {% endif %}
        </div>

        <section class="contacto">
            {% include "info/contacto.html" %}
        </section>
    </main>
    <footer>
        {% include "info/footer.html" %}
    </footer>
<script src="{{url_for('static',filename='/js/menu.js')}}"></script>
</body>
</html>