<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Descubre los productos de Quinazaur">
    <meta name="robots" content="index, follow">

    <meta property="og:title" content="Quinazaur">
    <meta property="og:description" content="Explora nuestros productos">
    <meta property="og:image" content="{{ url_for('static', filename='images/logo_quinazaur.webp') }}">
    <meta property="og:type" content="website">

    <title>Quinazaur</title>
    
    <link rel="stylesheet" href="{{url_for('static',filename='css/basics.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/productos.css')}}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400&display=swap" rel="stylesheet">

    {% include "info/favicon.html"%}

</head>
<body>
    <header class="navbar">
        <div class="nav-izq">
            <a href="{{url_for('inicio')}}">
            <img  class="logo" src="{{url_for('static', filename='/images/logo_quinazaur.webp')}}" loading="lazy" alt="Logo" title="Inicio">
            </a>
            <h1 class="titulo">Productos</h1>
            {% if "user_id" in session and session["user_rol"] == "admin" %}
                <a class="btn-add" href="{{url_for('add_product')}}" title="Agregar Producto">+</a>
            {% endif %}
            
        </div>
        <nav class="links">
            <button aria-label="Cerrar" class="cerrar-menu"><img src="{{url_for('static',filename='images/cerrar_menu.webp')}}" loading="lazy" alt="icon"></button>
            <a class="section" href="{{url_for('recetas')}}">Recetario Saludable</a>
            <a class="section" href="{{url_for('compromiso_verde')}}">Compromiso Verde</a>
            <a class="btn_inicio" href="{{url_for('inicio')}}">Inicio</a>
        </nav>
        <button title="Menu" class="abrir-menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </header>
    <main>
        <section class="productos">
            <div class="productos_header">
                <img src="{{url_for('static',filename='images/lista_icon.webp')}}" loading="lazy" alt="icon">
                {% for total in cantidad %} 
                    <p>Mostrando {{total.cantidad}} producto(s)</p>
                {% endfor %}  
            </div>  
            <div class="container_productos">
                <div class="modal-container" id="modal_card">
                    <div class="modal-card" id="md-c">
                        <div class="modal-header">
                            <p>Detalles del producto</p>
                            <button class="btn-cerrar" onclick="CerrarModal()">x</button>
                        </div>    
                        <img class="producto-img" id="img-producto" src="">
                        <div class="descripcion-modal">
                            <h2 id="nombre-producto"></h2>
                            <p id="descripcion-producto"></p>
                        </div>
                        <div class="atributos">
                            <h2>Atributos Especiales</h2>
                            <div class="tags-cont" id="cont-atributos">
                                
                            </div>
                        </div>    
                        <div class="footer-modal">
                            <p class="modal-precio" >Precio:<span id="precio-producto"></span></p>
                            <button class="btn_comprar"><a id="btn-comprar" target="_blank
                                " >Comprar</a></button>
                        </div>
                    </div>
                </div> 

                {% if session["user_rol"] == "admin" %}
                <div class="modal-container" id="confirmacion">
                    <form  class="mensaje" method="post">
                        <h2>Confirmación</h2>
                        <p>¿Seguro que desea eliminar este producto?</p>
                        <div class="mensaje-buttons">
                            <button class="btn-eliminar">Eliminar</button>
                            <a class="btn-cancelar" id="cancelar" aria-label="Cancelar">Cancelar</a>
                        </div>    
                    </form>
                </div> 
                {% endif%}

                {% for producto in productos%}   
                    <div class="card_productos">
                        <img src="{{producto.imagen_producto}}" alt="{{producto.nombre_producto}}">
                        <div class="descripcion_producto">
                            <h2>{{producto.nombre_producto}}</h2>
                            <p>{{producto.descripcion_producto}}</p>
                        </div> 
                        <div class="tags_container">
                            {% for atributo in producto.atributos %}
                                <h3>{{atributo}}</h3>   
                            {% endfor %}
                            {% if not producto.disponible%}
                            <h3 class="tag-inactivo">Inactivo</h3>
                            {% endif %}        
                        </div>
                        
                        <div class="footer_card">
                            <p class="precio">${{"{:,.0f}".format(producto.precio_producto).replace(",",".")}}</p>
                            {% if session["user_rol"]=="admin" %}
                                <div class="cont-edit-buttons">
                                    <button class="drop-button" title="Eliminar" data-id="{{producto.id_producto}}"><img src="{{url_for('static', filename='images/drop_button.svg')}}" alt="Eliminar" loading="lazy"></button>
                                    <a href="{{url_for('edit_product', id=producto.id_producto)}}">
                                    <button class="edit-button" title="Editar"><img src="{{url_for('static', filename='images/edit_button.svg')}}" alt="Editar" loading="lazy"></button>
                                    </a>
                                </div>
                            {% endif %}
                            {% if producto.stock == 0 %}
                                <p class="agotado">Agotado</p>
                            {% else %}
                                <button class="btn_vermas" data-nombre="{{producto.nombre_producto}}" data-descripcion="{{producto.descripcion_producto}}" data-atributos='{{ producto.atributos | tojson }}' data-precio="{{producto.precio_producto}}" data-img="{{producto.imagen_producto}}">Ver Más >></button>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>  
        </section>
        <section class="contacto">
            {% include "info/contacto.html" %}
        </section>
    </main>
    <footer>
        {% include "info/footer.html" %}
    </footer>
    {% if session["user_rol"]=="admin" %}
        <script src="{{url_for('static',filename='js/eliminar_producto.js')}}"></script>                      
    {% endif %}
    <script src="{{url_for('static',filename='/js/menu.js')}}"></script>
    <script src="{{url_for('static',filename='/js/modal_producto.js')}}"></script>
    

</body>
</html>