<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quinazaur</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/productos.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
</head>
<body>
    <header class="navbar">
        <div class="logo">
            <img src="{{url_for('static',filename='images/logo_quinazaur.png')}}" loading="lazy" alt="Logo" title="Inicio">
            <h1>Productos</h1>
        </div>
        <nav class="links">
            <a class="section" href="{{url_for('recetas')}}">Recetario Saludable</a>
            <a class="section" href="">Compromiso Verde</a>
            <a class="btn_inicio" href="{{url_for('inicio')}}">Inicio</a>
        </nav>
    </header>
    <main>
        <section class="productos">
            <div class="productos_header">
                <img src="{{url_for('static',filename='images/lista_icon.png')}}">
                {% for total in cantidad %} 
                    <p>Mostrando {{total.cantidad}} producto(s)</p>
                {% endfor %}  
            </div>  
            <div class="container_productos">
                <div class="modal-container" id="modal_card">
                    <div class="modal-card" >
                        <div class="modal-header">
                            <p>Detalles del producto</p>
                            <button class="btn-cerrar" onclick="CerrarModal()">x</button>
                        </div>    
                        <img class="producto-img" id="img-producto" src="">
                        <div class="descripcion-modal">
                            <h2 id="nombre-producto"></h2>
                            <p id="descripcion-producto"></p>
                        </div>
                        <div class="atributos">
                            <h2>Atributos Especiales</h2>
                            <div class="tags-cont" id="cont-atributos">
                                
                            </div>
                        </div>    
                        <div class="footer-modal">
                            <p class="modal-precio" >Precio:<span id="precio-producto"></span></p>
                            <button class="btn_comprar"><a id="btn-comprar" target="_blank
                                " >Comprar</a></button>
                        </div>
                    </div>
                </div> 
                {% for producto in productos%}   
                    <div class="card_productos">
                        <img src="{{url_for('static',filename=producto.imagen_producto)}}">
                        <div class="descripcion_producto">
                            <h2>{{producto.nombre_producto}}</h2>
                            <p>{{producto.descripcion_producto}}</p>
                        </div> 
                        <div class="tags_container">
                            {% for atributo in producto.atributos %}
                                <h3>{{atributo}}</h3>   
                            {% endfor %}        
                        </div>
                        <div class="footer_card">
                            <p class="precio">${{"{:,.0f}".format(producto.precio_producto).replace(",",".")}}</p>
                            <button class="btn_vermas" data-nombre="{{producto.nombre_producto}}" data-descripcion="{{producto.descripcion_producto}}" data-atributos='{{ producto.atributos | tojson }}' data-precio="{{producto.precio_producto}}" data-img="{{url_for('static',filename=producto.imagen_producto)}}">Ver Más >></button>
                        </div>
                    </div>
                {% endfor %}
            </div>  
        </section>
        <section class="contacto">
            <div class="card_contacto">
                <div class="header_contacto">
                    <h2>Contacto y Ubicación</h2>
                    <p>Estamos aquí para ayudarte. Visítanos o ponte
                    en contacto con nosotros.</p>
                </div>
                <div class="horarios">
                    <img src="{{ url_for('static',filename='images/ubicacion_icon.png')}}" loading="lazy" alt="icon">
                    <p><span>Ubicación </span>Sapuyes-Nariño</p>
                </div>
                <div  class="horarios">
                    <img src="{{ url_for('static',filename='images/reloj_icon.png')}}" loading="lazy" alt="icon">
                    <div>
                        <p><span>Horario </span>Lunes a  viernes: 9:00 am a 5:00pm
                        </p>
                        <p>Sábado y Domingo: Cerrado</p>
                    </div>    
                </div>
                <div class="links_redes">
                    <a href="https://www.facebook.com/share/18m6ipR7Mh/?mibextid=wwXIfr" target="blank">
                        <img class="redes_icon" src="{{ url_for('static',filename='images/fb_icon.png')}}" loading="lazy" alt="icon" title="Facebook">
                    </a>
                    <a href="https://wa.me/573188540936" target="blank">
                        <img class="redes_icon" src="{{ url_for('static',filename='images/wpp_icon.png')}}" loading="lazy" alt="icon" title="WhatsApp">
                    </a>
                </div>
            </div>
            <div class="mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15956.657412598479!2d-77.63891106569488!3d1.037396990030011!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e29489cdb270395%3A0x748396bcd8fd716e!2sSapuyes%2C%20Nari%C3%B1o!5e0!3m2!1ses-419!2sco!4v1772120990445!5m2!1ses-419!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>
    </main>
    <footer>
        <img src="{{url_for('static',filename='images/logo_quinazaur.png')}}" loading="lazy" alt="logo">
        <p>© 2025 Quinazaur. Todos los derechos reservados.</p>
        <p>Diseño y desarrollo: RosaMaría Muñoz, Damarys Revelo, María José Guerrero, Erika pinchao, Sebastián Benavides, Arbey Cadena, Camilo Cabrera</p>
        <p>Contáctanos: 3147799126</p>
        <p></p>
    </footer>
<script src="{{url_for('static', filename='js/productos.js')}}"></script>
</body>
</html>