<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Edita tu perfil">
    <meta name="robots" content="index, follow">

    <title>Quinazaur</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='css/basics.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/editar_perfil.css')}}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400&display=swap" rel="stylesheet">
    
    <script src="{{url_for('static',filename='/js/script2.js')}}"></script>
</head>

{% set ns = namespace(msg=False, messages=[]) %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% set ns.msg = True %}
        {% set ns.messages = messages %}
    {% endif %}
{% endwith %}

<body class="{{'inactivo' if ns.msg}}">
    <header class="navbar">
        <div class="nav-izq">
            <a href="{{url_for('inicio')}}">
            <img  class="logo" src="{{url_for('static', filename='/images/logo_quinazaur.webp')}}" loading="lazy" alt="Logo" title="Inicio">
            </a>
        </div>
        <nav class="links">
            <button class="cerrar-menu" aria-label="Cerrar Menu"><img src="{{url_for('static',filename='images/cerrar_menu.webp')}}" loading="lazy" alt="icon"></button>
            <a class="section" href="{{url_for('productos')}}">Productos</a>
            <a class="section" href="{{url_for('recetas')}}">Recetario Saludable</a>
            <a class="section" href="{{url_for('compromiso_verde')}}">Compromiso Verde</a>
            <a class="btn_inicio" href="{{url_for('inicio')}}">Inicio</a>
        </nav>
        <button class="abrir-menu" title="Menu" aria-label="Abrir Menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </header>
    <main>

        {% for category, message in ns.messages %}
            {% if category=="error" %}
                <div class="overlay" id="mensaje">
                    <div  class="mensaje">
                        <h2>Error</h2>
                        <p>{{message}}</p>
                        <a id="cerrar-msg" href="{{url_for('editar_perfil')}}" aria-label="Cerrar">Cerrar</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <section  class="{% if ns.msg %}inactivo{% else %}editar-perfil{% endif %}" id="section">
            <div class="card-perfil">
                <div class="header-card">
                    <img src="{{url_for('static', filename='/images/perfil.webp')}}" loading="lazy" alt="icon">
                    <h1>Mi Perfil</h1>
                </div>
                <form class="card-body" action="{{url_for('editar_perfil')}}" method="post" id="formulario">
                    {% for u in user %}
                        <fieldset>
                            <legend>Información Personal</legend>
                                <label class="dato" for="nombre">  Nombre Completo
                                    <input class="input-dato" id="nombre" name="nombre" type="text" placeholder="{{u.nombre}}" value="{{u.nombre}}" required>
                                </label>
                                <label class="dato" for="email">  Correo Electrónico
                                    <input class="input-dato" name="correo" id="email" type="email" placeholder="{{u.email}}" value="{{u.email}}" required disabled>
                                </label>
                                <label class="dato" for="telefono">  Teléfono
                                    <input class="input-dato" name="telefono" id="telefono" type="tel" pattern="[0-9]{10}" placeholder="{{u.telefono}}" value="{{u.telefono}}" required>
                                </label>
                        </fieldset>
                        <fieldset>
                            <legend>Seguridad</legend>
                            <label class="dato" for="p_nueva">Nueva Contraseña
                                <input class="input-dato" name="p_nueva" id="p_nueva" type="password"  placeholder="(No obligatorio)">
                            </label>
                            <label class="dato" for="p_actual">*Contraseña Actual
                                <input class="input-dato" name="p_actual" id="p_actual" type="password"  placeholder="Escriba su contraseña para guardar los cambios" required>
                            </label>
                        </fieldset>
                        <div class="card-footer">
                            <a class="btn-cancelar" href="/perfil" aria-label="Cancelar">Cancelar</a>
                            <button id="btn-enviar-datos" class="btn-guardar-cambios" type="submit" aria-label="Guardar Cambios">Guardar Cambios</button>
                    {% endfor %}
                        </div>
                    
                </form>
            </div>
        </section>
    </main>
    <footer>
        {% include "info/footer.html" %}
    </footer>
</body>
<script src="{{url_for('static',filename='/js/menu.js')}}"></script>
<script src="{{url_for('static',filename='/js/form.js')}}"></script>
</html>