<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quinazaur</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/basics.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/registro.css')}}">

    <link rel="stylesheet" href="{{ url_for('static',filename='css/login.css')}}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
</head>
<body class="{% if error or msg %}inactivo{% endif %}">
    <header class="navbar">
        <div class="nav-izq">
            <a href="{{url_for('inicio')}}">
            <img  class="logo" src="{{url_for('static', filename='/images/logo_quinazaur.png')}}" loading="lazy" alt="Logo" title="Inicio">
            </a>
        </div>
        <nav class="links">
            <button class="cerrar-menu"><img src="{{url_for('static',filename='images/cerrar_menu.png')}}" loading="lazy" alt="icon"></button>
            <a class="section" href="{{url_for('productos')}}">Productos</a>
            <a class="section" href="{{url_for('recetas')}}">Recetario Saludable</a>
            <a class="section" href="{{url_for('compromiso_verde')}}">Compromiso Verde</a>
            <a class="btn_inicio" href="{{url_for('inicio')}}">Inicio</a>
        </nav>
        <button class="abrir-menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </header>
    <main>
        {% if msg %}
            <div class="overlay" id="mensaje">
            <div  class="mensaje">
                <h2>Contraseña actualizada</h2>
                <p>{{msg}}</p>
                <a id="cerrar-msg" href="{{url_for('login')}}">Cerrar</a>
            </div>
            </div>
        {% endif %}
        {% if error %}
            <div class="overlay" id="mensaje">
            <div  class="mensaje">
                <h2>ERROR</h2>
                <p>{{error}}</p>
                <a id="cerrar-msg" href="{{url_for('login')}}">Cerrar</a>
            </div>
            </div>
        {% endif %}
        <section id="section-inicio-sesion" class="{% if error or msg %}inactivo{% else %}iniciar-sesion{% endif %}">
            <div class="container-formulario">
                <img class="logo" src="{{url_for('static', filename='images/logo_quinazaur.png')}}" loading="lazy" alt="Logo">
                <div class="formulario">
                    <div class="header-formulario">
                        <span><h1>Bienvenido</h1>
                        <p>Inicia sesion en tu cuenta</p></span>
                    </div>
                    <form class="container-datos" method="post" action="/login" id="formulario">
                        <label class="dato" for="email">Correo Electrónico
                            <input class="input-dato" name="correo" id="email" type="email" placeholder="ejemplo@gmail.com" required>
                        </label>
                        <label class="dato" for="contraseña">Contraseña
                            <input class="input-dato" name="contraseña" id="contraseña" type="password" placeholder="Mínimo 8 caracteres" required>
                            <a href="{{url_for('reset_password')}}">¿Olvidaste tu contraseña?</a>
                        </label>
                        <button class="btn-registrar" type="submit">Iniciar Sesion</button>
                    </form>
                    <div class="footer-registro">
                        <div class="space"> <span></span><p>ó</p><span></span> </div>
                        <a id="btn-enviar-datos" class="btn-crear-cuenta" href="{{url_for('registro')}}" >Crear Cuenta</a>
                    </div>
                </div>    
            </div>
        </section>
    </main>
    <footer>
        {% include "info/footer.html" %}
    </footer>
</body>
<script src="{{url_for('static',filename='/js/menu.js')}}"></script>
<script src="{{url_for('static',filename='/js/form.js')}}"></script>
</html>