<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Perfil de usuario Quinazaur">
    <meta name="robots" content="noindex, nofollow">

    <title>Quinazaur</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='css/basics.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/perfil.css')}}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400&display=swap" rel="stylesheet">

    {% include "info/favicon.html"%}

</head>

{% set ns = namespace(msg=False, messages=[]) %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% set ns.msg = True %}
        {% set ns.messages = messages %}
    {% endif %}
{% endwith %}

<body  class="{{'inactivo' if ns.msg}}">
    <header class="navbar">
        <div class="nav-izq">
            <a href="{{url_for('inicio')}}">
            <img  class="logo" src="{{url_for('static', filename='/images/logo_quinazaur.webp')}}" loading="lazy" alt="Logo" title="Inicio">
            </a>
        </div>
        <nav class="links">
            <button class="cerrar-menu" aria-label="Cerrar Menu"><img src="{{url_for('static',filename='images/cerrar_menu.webp')}}" loading="lazy" alt="icon"></button>
            <a class="section" href="{{url_for('productos')}}">Productos</a>
            <a class="section" href="{{url_for('recetas')}}">Recetario Saludable</a>
            <a class="section" href="{{url_for('compromiso_verde')}}">Compromiso Verde</a>
            <a class="btn_inicio" href="{{url_for('inicio')}}">Inicio</a>
        </nav>
        <button class="abrir-menu" title="Menu" aria-label="Abrir Menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </header>
    <main>

        {% for category, message in ns.messages %}
            {% if category=="aviso" %}
                <div class="overlay" id="mensaje">
                    <div  class="mensaje">
                        <h2>Completado</h2>
                        <p>{{message}}</p>
                        <a id="cerrar-msg" href="{{url_for('perfil')}}" aria-label="Cerrar">Cerrar</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <section id="section" class="{% if ns.msg %}inactivo{% else %}perfil{% endif %}">
            <div class="card-perfil">
                <div class="header-card">
                    <h1>Mi Perfil</h1>
                    <p>Gestiona tu información personal</p>
                </div>
                <div class="card-body">
                    {% for u in user%}
                        <div class="datos" title="Nombre">
                            <img class="icon" src="{{url_for('static',filename='images/user-icon.webp')}}" loading="lazy" alt="icon">
                            <p>{{u.nombre}}</p>
                        </div>
                        <div class="datos" title="Correo">
                            <img class="icon" src="{{url_for('static',filename='images/email-icon.webp')}}" loading="lazy" alt="icon" >
                            <p>{{u.email}}</p>
                        </div>
                        <div class="datos" title="Teléfono">
                            <img class="icon" src="{{url_for('static',filename='images/telefono-icon.webp')}}" loading="lazy" alt="icon" >
                            <p>{{u.telefono}}</p>
                        </div>
                        <div class="datos" title="Rol">
                            <img class="icon" src="{{url_for('static',filename='images/rol-icon.webp')}}" loading="lazy" alt="icon" >
                            <p>{{u.rol}}</p>
                        </div>
                    {% endfor %}    
                </div>
                <div class="card-footer">
                    <a href="{{url_for('editar_perfil')}}" class="btn-editar-perfil">Editar Perfil</a>
                    <a href="/logout" id="btn-editar-perfil" class="cerrar-sesion">Cerrar Sesion</a>
                </div>
            </div>
        </section>
    </main>
    <footer>
        {% include "info/footer.html" %}
    </footer>
</body>
<script src="{{url_for('static',filename='js/menu.js')}}"></script>
</html>