<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Registrate en Quinazaur">
    <meta name="robots" content="index, follow">

    <meta property="og:title" content="Quinazaur">
    <meta property="og:description" content="Regístrate">
    <meta property="og:image" content="{{ url_for('static', filename='images/logo_quinazaur.webp') }}">
    <meta property="og:type" content="website">

    <title>Quinazaur</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='css/basics.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/registro.css')}}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400&display=swap" rel="stylesheet">
</head>

{% set ns = namespace(msg=False, messages=[]) %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% set ns.msg = True %}
        {% set ns.messages = messages %}
    {% endif %}
{% endwith %}

<body class="{{'inactivo' if ns.msg}}">
    <header class="navbar">
        <div class="nav-izq">
            <a href="{{url_for('inicio')}}">
            <img  class="logo" src="{{url_for('static', filename='/images/logo_quinazaur.webp')}}" loading="lazy" alt="Logo" title="Inicio">
            </a>
        </div>
        <nav class="links">
            <button class="cerrar-menu" aria-label="Cerrar Menu"><img src="{{url_for('static',filename='images/cerrar_menu.webp')}}" loading="lazy" alt="icon"></button>
            <a class="section" href="{{url_for('productos')}}">Productos</a>
            <a class="section" href="{{url_for('recetas')}}">Recetario Saludable</a>
            <a class="section" href="{{url_for('compromiso_verde')}}">Compromiso Verde</a>
            <a class="btn_inicio" href="{{url_for('inicio')}}">Inicio</a>
        </nav>
        <button class="abrir-menu" title="Menu" aria-label="Abrir Menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </header>
    <main>

        {% for category, message in ns.messages %}
            {% if category=="error" %}
                <div class="overlay" id="mensaje">
                    <div  class="mensaje">
                        <h2>Error</h2>
                        <p>{{message}}</p>
                        <a id="cerrar-msg" href="{{url_for('registro')}}" aria-label="Cerrar">Cerrar</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <section id="section-registro" class="{% if ns.msg %}inactivo{% else %}registro{% endif %}">
            <div class="container-registro">
                <div class="header-registro">
                    <img class="logo" src="{{url_for('static', filename='images/logo_quinazaur.webp')}}" alt="logo_quinazaur" loading="lazy">
                    <span><h1>Crea tu Cuenta</h1>
                    <p>Únete a Quinazaur y descubre lo mejor de
                    la quinua.</p></span>
                </div>
                <form class="container-datos" method="post" action="{{url_for('registro')}}" id="formulario">
                    <label class="dato" for="nombre">  Nombre Completo
                        <input class="input-dato" id="nombre" name="nombre" type="text" placeholder="Ingresa tu nombre completo" required>
                    </label>
                    <label class="dato" for="email">  Correo Electrónico
                        <input class="input-dato" name="correo" id="email" type="email" placeholder="ejemplo@gmail.com" required>
                    </label>
                    <label class="dato" for="telefono">  Teléfono
                        <input class="input-dato" name="telefono" id="telefono" type="tel" pattern="[0-9]{10}" placeholder="Ingresa tu número de teléfono" required>
                    </label>
                    <label class="dato" for="contraseña">  Contraseña
                        <input class="input-dato" name="contraseña" id="contraseña" type="password" placeholder="Mínimo 8 caracteres" required>
                    </label>
                    <button id="btn-enviar-datos" class="btn-registrar" type="submit">Registrarme</button>
                </form>
                <div class="footer-registro">
                    <p>¿Ya tienes una cuenta?</p>
                    <a href="{{url_for('login')}}">Inicia sesión aquí</a>
                </div>
            </div>
        </section>
    </main>
    <footer>
        {% include "info/footer.html" %}
    </footer>
</body>
<script src="{{url_for('static',filename='/js/menu.js')}}"></script>
<script src="{{url_for('static',filename='/js/form.js')}}"></script>
</html>