<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Verificacion">
    <meta name="robots" content="noindex, nofollow">
    
    <title>Quinazaur</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='css/basics.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/form_reset.css')}}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400&display=swap" rel="stylesheet">

    {% include "info/favicon.html"%}

</head>

{% set ns = namespace(msg=False, messages=[]) %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% set ns.msg = True %}
        {% set ns.messages = messages %}
    {% endif %}
{% endwith %}

<body class="{{'inactivo' if ns.msg}}">
    <header class="navbar">
        <div class="nav-izq">
            <a href="{{url_for('inicio')}}">
            <img  class="logo" src="{{url_for('static', filename='/images/logo_quinazaur.webp')}}" loading="lazy" alt="Logo" title="Inicio">
            </a>
        </div>
        <nav class="links">
            <button class="cerrar-menu" aria-label="Cerrar menu"><img src="{{url_for('static',filename='images/cerrar_menu.webp')}}" loading="lazy" alt="icon"></button>
            <a class="section" href="{{url_for('productos')}}">Productos</a>
            <a class="section" href="{{url_for('recetas')}}">Recetario Saludable</a>
            <a class="section" href="{{url_for('compromiso_verde')}}">Compromiso Verde</a>
            <a class="btn_inicio" href="{{url_for('inicio')}}">Inicio</a>
        </nav>
        <button class="abrir-menu" title="Menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </header>
    <main>

        {% for category, message in ns.messages %}
            {% if category=="error" %}
                <div class="overlay" id="mensaje">
                    <div  class="mensaje">
                        <h2>Error</h2>
                        <p>{{message}}</p>
                        <a id="cerrar-msg" href="{{url_for('verify_code')}}" aria-label="Cerrar">Cerrar</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <section id="section-reset" class="{% if ns.msg %}inactivo{% else %}reset{% endif %}">
            <div class="container-formulario">
                <img class="logo" src="{{url_for('static', filename='images/logo_quinazaur.webp')}}" loading="lazy" alt="Logo">
                <div class="formulario">
                    <div class="header-formulario">
                        <h1>Restablece tu contraseña</h1>
                        <p>Si el correo ingresado está registrado, recibirás un código de verificación.</p>
                        <p>Revisa también la carpeta de spam o correo no deseado.
                        </p>
                    </div>
                    <form class="container-campos" method="post" action="{{url_for('verify_code')}}" id="formulario">
                        <label class="campo" for="codigo-recuperacion">Código de 6 dígitos
                            <input class="input-dato" name="codigo-recuperacion" id="codigo-recuperacion" type="text" maxlength="6" minlength="6" inputmode="numeric" placeholder="******" autocomplete="off" required>
                        </label>
                        <button class="btn-1" type="submit">Verificar Código</button>
                    </form>
                    <div class="footer-registro">
                        <a id="btn-enviar-datos" class="btn-2" href="{{url_for('reset_password')}}" aria-label="Volver">Volver</a>
                    </div>
                </div>    
            </div>
        </section>
    </main>
    <footer>
        {% include "info/footer.html" %}
    </footer>
</body>
<script src="{{url_for('static',filename='js/menu.js')}}"></script>
<script src="{{url_for('static',filename='js/form.js')}}"></script>
</html>