
/* ===Estilos Etiquetas Principales=== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 20px;
}

body{
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #F8F9FA;
    font-family: "Nunito";
    overflow-x: hidden;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width:450px) {
    html{
    font-size: 18px;
}
}

footer{
    background:#F8F9Fd;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 0.7rem;
    font-weight: 400;
    color:#64748B;
    padding: 50px 40px;
    line-height: 1.5rem;
}
footer img{
    width: 5rem;
}


/* ===ANIMACIONES=== */
@keyframes banner_animado{
    20%{
        background:linear-gradient(#000a, #000c),
        url(../images/banner1.jpg);
        background-position: center;
        background-size: cover;
    }
    40%{
        background:linear-gradient(#000a, #000c),
        url(../images/banner2.jpg);
        background-position: bottom;
        background-size: cover;
    }
    60%{
        background:linear-gradient(#000a, #000c),
        url(../images/banner3.jpg);
        background-position: center;
        background-size: cover; 
    }
    80%{
        background:linear-gradient(#000a, #000c),
        url(../images/banner4.jpg);
        background-position: top;
        background-size: cover;
    }
    100%{
        background:linear-gradient(#000a, #000c),
        url(../images/banner5.jpg);
        background-position: center;
        background-size: cover;
        }
}


/* ===ESTILOS PARA CLASES=== */
.navbar{
    position: relative;
    display: flex;
    padding: clamp(10px,5vh,30px) clamp(10px,5vw,40px);
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #8A9BAC;
    height: clamp(30px,10vh,70px);
}

.logo{
    height: clamp(1rem,10vh,3.5rem);
}
.logo img{
    height: 100%;
}

.links{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: right;
}

.section{
    text-decoration:none;
    text-align: center;
    color: #596C7E;
    font-family: "Plus Jakarta Sans";
    font-size: clamp(0.5rem,4vw,0.9rem);
    transition: transform 0.25s ease-in-out;
}
.section:hover{
    color: #000;
    transform: scale(1.05);
}
.section:active{
    transform: scale(0.9);
}
.section img{
    width: 30px;
    margin-left: 2px;
    transition: transform 0.25s ease, filter 0.25s ease;
}
.section img:hover{
    transform: scale(1.05);
    filter:brightness(0)
}

/*==============boton hamburguesa=======================*/
@keyframes abrir {
    from{
        transform: translateX(100px);
        opacity: 0;
    }

    to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes cerrar {
    from{
        transform: translateX(0);
        opacity: 1;
    }

    to{
        transform: translateX(100px);
        opacity: 0;
    }
}
.abrir-menu{
    width: 35px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    background-color: transparent;
    border: 0;
    display: none;
}

.abrir-menu >span{
    height: 4px;
    width: 100%;
    background-color: #000;
    border-radius: 999px;   
}

.cerrar-menu{
    width:1.5rem;
    background-color: transparent;
    border: 0;
    text-align: right;
    display: none;
}
.cerrar-menu >img{
    width: 100%;
}

.active{
    display: block;
}

@media (max-width:770px) {
    .abrir-menu{
        display: flex;
        
    }
    
    .links{
        animation: cerrar 0.2s ease;
        display: none;
    }
    
}
@media (max-width:400px) {
    html{
    font-size: 16px;
    }
    .contacto{
    width: 100%;
    }
}

.links-movil{
    display: flex;
    animation: abrir 0.2s ease;
    position: absolute;
    right: 0;
    top: 0;
    flex-direction: column;
    gap: 5px;
    align-items:end;
    justify-content: start;
    width: 75vw;
    height: 100vh;
    background-color: #fff;
    padding: 20px 5vw;
    border: solid 1px black;
    box-shadow: 0 0 0 100vw rgb(0,0,0,0.7);
    transition: all 0.2s ease;
    }

.links-cerrar{
    animation: cerrar 0.2s ease;
}
.section-movil{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 8%;
    color: #000;
}    
/*=============================================*/
.banner{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 520px;
    background:linear-gradient(#000a, #000c),url(../images/banner2.jpg);
    background-position: top;
    animation: banner_animado 150s infinite;     
}

.banner h1, .banner h2{
    color: #fff;
    margin: 2px;
    text-align: center;
}
.banner h1{
    font-family: "Playfair Display";
    font-size: clamp(3rem, 15vw, 7rem);
    font-weight: 800;
}
.banner h2{
    font-family: "Nunito";
    font-size: clamp(0.5rem,4vw,1rem);
    font-weight: 400;
}

.descripcion{
    display: flex;
    flex-direction: column;
    padding: 50px clamp(40px,15vw, 250px);
    
    text-align: center;
    margin: 0;
    font-size: clamp(0.5rem,4vw,1rem)
}

.info_institucional{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 50px;
    padding: 50px 20vw;
}
@media (max-width: 500px) {
    .info_institucional{
        padding: 50px 10vw;
    }
}

.card{
    height: auto;
    display: flex;
    flex:1 1 250px;
    flex-direction: column;
    padding: 30px 30px;
    background: #fff;
    border: 1px solid #E2E8F0;
    border-radius: 5px;
    gap:5px;
    border-left: solid 3px #E2E8F0;
    border-top: solid 3px #E2E8F0;
    box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease, box-shadow 0.5s ease-in-out;
}
.card:hover{
    transform: scale(1.08);
    box-shadow: none;
}

.card_header{
    display: flex;
    justify-content:start;
    align-items: center;
    padding: 5px 5px;
    font-family: "Poppins";
    font-weight: 700;
    font-size: 1.2rem;
    gap: 15px;
}
.card_header img{
    height: 54px;
}

.card_cont{
    font-size: 0.9rem;
}

.valores{
    padding: 50px 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
    
}
.valores h2 {
    font-family: "Playfair Display";
    font-size: 2.5rem;
    font-weight:900;
}

.container_valores{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 50px;
}

.card_valores{
    height: auto;
    display: flex;
    flex:1 1 310px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 30px;
    background: #fff;
    border: 1px solid #E2E8F0;
    border-bottom: 3px solid #0005;
    border-radius: 20px 16px 0 0;
    box-shadow: 2px -4px 8px 2px #0001;
    gap:10px;
    font-family: "Poppins";
    font-size: 0.9rem;
    font-weight: 700;
    max-width: 310px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.card_valores:hover{
    transform: scale(1.08);
    box-shadow: none;
}
.card_valores p{
    font-family: "Nunito";
    font-weight: 400;
    font-size: 0.9rem;
    color:#475569;
}
.card_valores img{
    height: 72px;
    border-radius: 50%; 
}

.proyeccion_social{
    display: flex;
    flex-direction: column;
    gap:40px;
    padding: 50px 10vw;
}

.proysoc_header{
    display: flex;
    align-items: center;
    justify-content: left;
}
.proysoc_header h2{
    text-align: center;
    font-family: "Playfair Display";
    font-size: 2.5rem;
    font-weight:900;
}

.proysoc_cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    align-items: center;
}
.proysoc_cont img{
    height: clamp(100px, 200px, 250px);
    border-radius: 16px;
    box-shadow: 4px 4px 15px 2px #0004;
}

.ejes {
    display: flex;
    flex-direction: column;
    flex:1 1 450px;
    gap: 20px;
}

.card_eje{
    max-width: 95%;
    text-align: left;
    font-family: "Nunito";
    font-weight: 400;
    font-size: 0.9rem;
    color:#475569;
}
.card_eje h3{
    font-family: "Poppins";
    font-weight: 700;
}

.contacto{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 80%;
    margin: auto;
    padding: clamp(10px,5vw,50px);
    background: #fff;
    border: 1px solid #E2E8F0;
    border-radius: 16px 16px 0px 0px;
}
@media (max-width:400px) {
    .contacto{
    width: 85%;
    }
}

.card_contacto{
    display: flex;
    flex-direction: column;
    gap: 25px; 
}

.header_contacto h2{
    font-family:"Playfair Display";
    font-size: 2rem;
    font-weight: 900;
    padding-bottom: 5px;
    
}
.header_contacto p{
    font-family: "Nunito";
    font-weight: 400;
    font-size: 0.9rem;
    color:#475569;  
}

.horarios{
    display: flex;
    justify-content: start;
    align-items:center;
    gap: 7px;
}
.horarios span{
    font-weight: 900;
}
.horarios img{
    height: 16px;
}
.horarios p{
    color: #475569;
    font-size: 0.9rem;
}

.mapa{
    justify-content: center;
    align-items: center;
    border-radius: 16px 16px 0px 0px;
    border-bottom: 2px solid  #475569;
    overflow: hidden;
}
.mapa iframe{
    width: 450px;
    height: 337px;
}
@media (max-width:400px) {
    .mapa iframe{
    width: 350px;
    height:200px;
    }
}


.links_redes{
    display: flex;
    gap: 15px;
    text-decoration: none;
    padding: 0px 10px;
    align-items: center;
    justify-content: left;
}

.redes_icon{
    width: 25px;
}

