
body{
    background: #FAF9F6;
}


@media (max-width:450px) {
    .titulo{
    font-size: 1.15rem;
    }
}

.encabezado{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 50px clamp(20px, 10vw, 70px);
    justify-content: center;
    align-items: center;
}
.img1{
    width: 270px;
    border-radius: 15px;
    box-shadow: 2px 7px 10px 5px rgb(0, 0, 0, 0.1);
}

.texto{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: auto;
    text-align: center;
    font-family: "Poppins";
    font-weight: 100;
}
.texto h2{
    font-size: 2.5rem;
    color: #078345;
    font-weight: 700;
    line-height:3.2rem;
}
.texto p{
    font-size: 1.1rem;
    font-weight: 400;
}

.search-bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buscar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 0px;
}
.buscar input{
    width: 60%;
    border-radius: 10px 0 0 10px;
    border: solid 1px #000;
    border-right: none;
    background-color: transparent;
    text-align: left;
    padding: 10px;
}
.btn-buscar{
    display: flex;
    width: 40px;
    border: 0;
    padding: 0 3px;
    background-color: transparent;
    border: 1px solid #000;
    border-left: none;
    border-radius: 0 10px 10px 0;
    align-items: center;
    justify-content: center;
    transition: all 0.25s ease-in-out;
}
.btn-buscar:hover{
    background-color: #0002;
}

.buscar-icon{
    width: 85%;
    background-color: transparent;
    margin: 0 10px;

    transition: all 0.25s ease-in-out;
}
.buscar-icon:hover{
    transform: rotate(10deg);
}

.recetas{
    width: 100%;
    padding: 50px clamp(10px, 5vw, 70px);
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.txt-1{
    font-family: "Poppins";
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    color: #6B4F2A;

}

.no_result{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.no_result a{
    color: #078345;
    text-decoration: none;
}
.no_result a:hover{
    color: #000;
}

.msg_noresult{
    font-family: "Nunito";
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    color: #000a;
}

.img_noresult{
    width: 140px;
}

.container-recetas{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.card-receta{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 50px 10px;
    border: 1px solid #DAD7CD ;
    border-radius: 15px;
}

.card-text{
    padding-left: 20px;
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media (max-width:785px){
    .card-text{
    width: 95%;
    }
    .card-receta{
    padding: 30px 10px;
    }
}


.text-header{
    display: flex;
    flex-direction: column;
    gap: 10px
}
.text-header h2{
    font-family: "Playfair Display";
    font-size: 1.8rem;
}
.text-header p{
    font-family: "Nunito";
    font-size: 0.9rem;
    color: #000b;
}

.ingredientes h3, .preparacion h3{
    font-family: "Nunito";
    font-size: 0.9rem;
}
.ingredientes, .preparacion{
    font-family: "Nunito";
    font-size: 0.9rem;
}

.img-receta{
    width: clamp(200px, 20vw, 500px);
    border-radius: 5px;
    box-shadow: 2px 2px 10px 2px rgb(0, 0, 0, 0.1);
}

    
.modal-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: clamp(320px,65vw,520px);
    background-color: #FAF9F6;
    border-radius: 15px;
    padding: 30px 50px;
    color: #6B4F2A;
    text-align: left;
    border: 1px solid #DAD7CD;
    box-shadow: 5px 5px 10px 1px rgb(0, 0, 0, 0.1);
    
}  

.modal-header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.modal-header p{
    font-family: "Poppins";
    font-weight: 600;
    font-size: 1rem;
    color:#4E944F;
}

.btn-cerrar{
    border: 0;
    background-color: transparent;
    font-size: 1.5rem;
    color:#6A1B9A;
    transition: transform 0.25s ease;
}
.btn-cerrar:hover{
    transform: scale(1.1);
    color: #461466;
}

.producto-img{
    width: 75%;
    max-height: 40vh;
    border-radius: 5px;
}

.descripcion-modal{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:start;
}
.descripcion-modal h2{
    font-family: "Nunito";
    font-weight: 500;
    font-size: 0.9rem;
    padding: 3px 10px;
    color: #fff;
    background-color: #4E944F;
    border-radius: 25px;
    margin-bottom: 7px;

}
.descripcion-modal p{
    font-family: "Nunito";
    font-weight: 400;
    font-size: 0.8rem;
    padding: 2px 5px;
    color: #6B4F2A;
}
.atributos{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items:flex-start;
    justify-content: left;
    padding: 0px 5px;
}
.atributos h2{
    font-family: "Poppins";
    font-weight: 400;
    font-size: 0.9rem;
}

.tags-cont{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.tags-cont h3{
    font-family: "Nunito";
    color: #4E944F;
    font-size: 0.7rem;
    font-weight: 400;
    border: 1px solid #4E944F;
    border-radius: 10px;
    padding: 2px 10px;
    background-color: #4E944F21;
}

.footer-modal{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding: 0px 10px;
}

.modal-precio{
    color: #4E944F;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: left;
}
.modal-precio span{
    color: #6B4F2A;
    font-size: 1.2rem;
    font-weight: 400;
}
.btn_comprar{
    font-size: 1rem;
    background-color: #6A1B9A;
    border: 0;
    font-family: "Poppins";
    color: #fff;
    text-align: center;
    justify-content: center;
    padding: 5px 10px;
    white-space: nowrap;
    border-radius: 25px;
}
.btn_comprar:hover{
    background-color: #461466;
    transform: scale(1.01);
}
.btn_comprar:active{
    transform: scale(0.9);
}